*{
    margin: 10px;
    padding: 0;
}
h5{
    text-align: right;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(96, 117, 138);
    
}

img{
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#nyancat{
    box-shadow: none;
    border: none;
    margin: 0px;

}

table{
 margin: 0px auto;
 ;

} 

h1,h2, p{
    text-align: center;
}

h4{
    text-align: left;
}

.losgatitos
{
    width: 450px;
    height: 400px;
    margin: 0px auto;
    background-color: rgb(156, 84, 184);
    border: 2px solid black;
    text-align: center;
}
.encabezado{
    background-color: rgb(154, 207, 207);
    border: solid black;
    text-align: center;    
}
#img{
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0,0, 0.4);
    border:1px solid black
}