
h1 {
    text-align: center;
}

p {
    text-align: center;
    

}

div {
    text-align: center;
}
.titulo{
        background-color: grey;
        margin-top: 15px ;
        padding: 30px 15px 5px;
        border: solid 1px black;
        font-family: "Lucida Console", "Courier New", monospace;
        text-shadow: 3px 5px 5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
a:link{
    color: black;
    

}
a:active{
    color: blueviolet;
}