*{
    margin: 0;
    padding: 0;
    text-align: center;

}
.encabezado{
    background-color: rgb(154, 207, 207);
    border: solid black;
    text-align: center;    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
a:link{
    color: black;
}
a:active{
    color: blueviolet;
}

.tabla-perros{
    margin :0px auto;
    background-color: rgb(156, 84, 184);
    border: 2px solid black;
    text-align: center;
}
body{
    background-color: rgb(96,117,138);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(96, 117, 138);
}
#img{
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0,0, 0.4);
    border:1px solid black
}

.center
{
    width: 450px;
    height: 400px;
    margin: 0px auto;
    background-color: rgb(156, 84, 184);
    border: 2px solid black;
    text-align: center;
}
