*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Josefin Sans';
    background-color: rgb(96, 117, 138);
    
}

img{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
#nyancat{
    box-shadow: none;
    border: none;
    margin: 0px;

}



#img{
    width: 200px;
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0,0, 0.4);
    border:1px solid black
    
}
.gatos{
    margin-top: 50px;
}
.main.container-fluid
{
    padding: 0;
    margin: 0;    
}

.img-hd{
    background-image: url(/img/gatos/head.jpg);
    height: 550px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.txt-hd{
    position: relative;
    transform: translate(0%,10%);
    color: rgb(0,0,0);
    font-size: 30px;

}
.gatos{
    font-size: 22px;
}
@media screen and (max-width: 580px){

    .row
    {
        background-color: rgb(156, 84, 184);
    }

}
.row{
    padding: 10px;
    
}